[submodule "airflow-dags"]
	path = airflow-dags
	url = git@github.com:euch/fotki-dwh-airflow-dags.git
[submodule "image-helper"]
	path = image-helper
	url = git@github.com:euch/fotki-dwh-image-helper.git
[submodule "tk-client"]
	path = tk-client
	url = git@github.com:euch/fotki-dwh-tk-viewer.git
